<form
  novalidate
  [formGroup]="screenFormGroup"
  class="Flight1 magic-container"
  magic="Flight1"
>

  <div class="top-details-title">

    <div class="hotel-title">
      <img
        *ngIf="mgIsImageExists('AddFlightImg')"
        magic="AddFlightImg"
        class="AddFlightImg"
        [src]="mgGetImage('AddFlightImg')"
      />

      <label
        magic="SelectFlightL"
        class="SelectFlightL"
      >
        Flight Details
      </label>
    </div>
    <mat-form-field
      class="flightnumberEdit">
      <input
        readonly
        matInput
        placeholder="Flight #"
        formControlName="flightnumberEdit"
        magic="flightnumberEdit"
      >
    </mat-form-field>

  </div>
  <div class="middle-details-section">

    <div class="checkin-row">
      <div class="checkin-details">
        <div class="data-with-label">
          <label
            magic="OriginL"
            class="OriginL"
          >
            Origin:

          </label>

          <mat-form-field
            class="airportNameFrom">
            <input
              readonly
              matInput
              placeholder="From airport"
              formControlName="airportNameFrom"
              magic="airportNameFrom"
            >
          </mat-form-field>

        </div>

        <div class="data-with-label">

          <label
            magic="DestinationL"
            class="DestinationL"
          >
            Destination:
          </label>



          <mat-form-field
            class="airportNameTo">
            <input
              readonly
              matInput
              placeholder="To airport"
              formControlName="airportNameTo"
              magic="airportNameTo"
            >
          </mat-form-field>

        </div>


      </div>
      <div class="checkin-row">
        <div class="checkin-details">

          <div class="data-with-label">

            <label
              magic="DepartureL"
              class="DepartureL"
            >
              Departure:
            </label>

            <mat-form-field>
              <input
                matInput

                [matDatepicker]="todateTimeEdit"
                placeholder="Departure Date"
                formControlName="todateTimeEdit"
                magic="todateTimeEdit"
                class="todateTimeEdit"
              >
              <mat-datepicker-toggle matSuffix [for]="todateTimeEdit"></mat-datepicker-toggle>
              <mat-datepicker #todateTimeEdit></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="data-with-label">
            <label
              magic="ArrivalL"
              class="ArrivalL"
            >
              Arrival:
            </label>




            <mat-form-field>
              <input
                matInput

                [matDatepicker]="fromdateTimeEdit"
                placeholder="Arrival Date"
                formControlName="fromdateTimeEdit"
                magic="fromdateTimeEdit"
                class="fromdateTimeEdit"
              >
              <mat-datepicker-toggle matSuffix [for]="fromdateTimeEdit"></mat-datepicker-toggle>
              <mat-datepicker  #fromdateTimeEdit></mat-datepicker>
            </mat-form-field>


          </div>
        </div>

      </div>


      <div class="hotel-map-wrapper">
        <div
          class="map-image airport-image"
          [ngStyle]="{
                'background-image':'url('+ mgGetImage('classImg') + ')'}"
        >

        </div>



        <mat-form-field
        >
          <mat-select
            class="airline"
            magic="airline"
            placeholder="Select airline"
            [value]="mgGetSelectedValue('airline')"

          >
            <mat-option
              *ngFor="let o of mgGetListboxValues('airline');"
              [value]="o.index"

            >
              {{o.realString}}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </div>
    </div>
    <div class="imgSubForm-section">

      <ndc-dynamic
        magic="SearchSubform"
        class="SearchSubform"
        [style.visibility]="mgGetVisible('SearchSubform')"
        [ndcDynamicComponent]="mgGetComp('SearchSubform')"
        [ndcDynamicInputs]="mgGetParameters('SearchSubform')"
      >
      </ndc-dynamic>


    </div>
    <div class="details-button-section">
      <button
        magic="BSave"
        class="BSave"
        [attr.disabled]="mgIsDisabled('BSave')"
        mat-button color="primary"
      >
        Save
      </button>

    </div>
  </div>


</form>
