/*this is a component css*/

.HotelInformationProps {}

.AddHotelImgProps {}

.SelectFlightLProps {}

.serviceAddressProps {}

.CheckInLProps {}

.fromdateEditProps {}

.fromtimeEditProps {}

.CheckOutLProps {}

.todateEditProps {}

.totimeEditProps {}

.HotelIDProps {}

.imgSubformProps {
    border: lightskyblue solid 1px;
}

.BSaveProps {}


form.Hotel {
  /* border: 3px solid blue; */
  display: flex;
  flex: 1;
  padding: 10px 10px 10px 20px;
  flex-direction: column;
  min-width: 740px;
}

form.Hotel, form.Rest, form.Flight1 {
  box-shadow: 0px 2px 5.22px 0.78px rgba(60, 60, 60, 0.2);
  padding: 30px 40px 0px 40px;
}


.details-address-title {
  margin-bottom: 30px;
}


.HotelID-wrapper {
  margin-right: 30px;
}

select.HotelID {
  align-self: auto;
}


.HotelID {
  width: 200px !important;
  /* border: 0.5px dashed lightgray; */
}

.HotelID-wrapper {
  margin-right: 30px;
}
