<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        magic="HotelInformation"
        class="HotelInformationProps mgColor14"
    >
        <div *ngIf="mgIsImageExists('AddHotelImg')">
            <img
                magic="AddHotelImg"
                class="AddHotelImgProps mgColor14 hidden_border"
                [src]="mgGetImage('AddHotelImg')"
            />
        </div>
        <label
            magic="SelectFlightL"
            class="SelectFlightLProps mgFont14 mgColor1"
        >
            Hotel Details
            </label>
            <label
                magic="serviceAddress"
                class="serviceAddressProps mgFont15 mgColor2 has_border"
            >
                {{mgGetValue('serviceAddress')}}
                </label>
                <label
                    magic="CheckInL"
                    class="CheckInLProps mgFont14 mgColor16"
                >
                    Check-In:
                    </label>
                    <p-calendar
                        formControlName="fromdateEdit"
                        magic="fromdateEdit"
                        class="fromdateEditProps mgFont15 mgColor1"
                    ></p-calendar>
                        <p-calendar
                            formControlName="fromtimeEdit"
                            magic="fromtimeEdit"
                            class="fromtimeEditProps mgFont15 mgColor1"
                            [showSeconds]="true"
                            [timeOnly]="true"
                        ></p-calendar>
                            <label
                                magic="CheckOutL"
                                class="CheckOutLProps mgFont14 mgColor16"
                            >
                                Check-Out:
                                </label>
                                <p-calendar
                                    formControlName="todateEdit"
                                    magic="todateEdit"
                                    class="todateEditProps mgFont15 mgColor1"
                                ></p-calendar>
                                    <p-calendar
                                        formControlName="totimeEdit"
                                        magic="totimeEdit"
                                        class="totimeEditProps mgFont15 mgColor1"
                                        [showSeconds]="true"
                                        [timeOnly]="true"
                                    ></p-calendar>
                                        <select
                                            (change)="mgOnSelectionChanged($event,'HotelID')"
                                            value="mgGetSelectedValue('HotelID')"
                                            magic="HotelID"
                                            class="HotelIDProps"
                                            formControlName="HotelID"
                                        >
                                            <option
                                                *ngFor="let o of mgGetListboxValues('HotelID');"
                                                [selected]="o.index == mgGetSelectedValue('HotelID')"
                                                [value]="o.index"
                                            >
                                                {{o.realString}}
                                                </option>
                                                </select>
                                                <ndc-dynamic
                                                    magic="imgSubform"
                                                    class="imgSubformProps"
                                                    [ndcDynamicComponent]="mgGetComp('imgSubform')"
                                                    [ndcDynamicInputs]="mgGetParameters('imgSubform')"
                                                >
                                                    </ndc-dynamic>
                                                    <input
                                                        type="button"
                                                        magic="BSave"
                                                        [attr.disabled]="mgIsDisabled('BSave')"
                                                        class="BSaveProps"
                                                        value=Ok
                                                    />
                                                    </div>
                                                    </form>