<form
  novalidate
  [formGroup]="screenFormGroup"
  class="Hotel magic-container"
  magic="Hotel"
>

  <div class="top-details-title">

    <div class="hotel-title">
      <img
        *ngIf="mgIsImageExists('AddHotelImg')"
        magic="AddHotelImg"
        class="AddHotelImg"
      [src]="mgGetImage('AddHotelImg')"
      />
      <!--[src]="mgGetFileImage('AddHotelImg')"-->
      <!--[src]="'assets//images/Travel/rest.jpg'"-->

      <label
        magic="SelectFlightL"
        class="SelectFlightL"
      >
        Hotel Details
      </label>
    </div>


    <!--(change)="onselectionchanged($event,'HotelID')"-->
    <!--[(value)]="getSelectedValue('HotelID')"-->
    <!--class="HotelID-wrapper"-->
    <!--magic="HotelID"-->


    <mat-form-field
    >
      <mat-select
        class="HotelID"
        placeholder="Select hotel"
      >
        <mat-option
          *ngFor="let o of mgGetListboxValues('HotelID');"
          [value]="o.index"
        >
          {{o.realString}}
        </mat-option>
      </mat-select>
    </mat-form-field>


  </div>
  <div class="middle-details-section">

    <div
      class="details-address-title">
      <input
        hidden
        type="text"
        formControlName="serviceAddress"
        magic="serviceAddress"
        class="serviceAddress"
      />

    </div>


    <div class="checkin-row">
      <div class="checkin-details">
        <div class="data-with-label">
          <label
            magic="CheckInL"
            class="CheckInL"
          >
            Check-in

          </label>
          <div class="date-time-row">

            <mat-form-field>
              <input
                matInput

                [matDatepicker]="fromdateEdit"
                placeholder="Check-in Date"
                formControlName="fromdateEdit"
                magic="fromdateEdit"
                class="fromdateEdit"
              >
              <mat-datepicker-toggle matSuffix [for]="fromdateEdit"></mat-datepicker-toggle>
              <mat-datepicker disabled="false" #fromdateEdit></mat-datepicker>
            </mat-form-field>


            <w-mat-timepicker
              formControlName="fromtimeEdit"
              magic="fromtimeEdit"
            >
            </w-mat-timepicker>


          </div>
        </div>

        <div class="data-with-label">

          <label
            magic="CheckOutL"
            class="CheckOutL"
          >
            Check-out
          </label>
          <div class="date-time-row">


            <mat-form-field>
              <input
                matInput

                [matDatepicker]="todateEdit"
                placeholder="Check-out Date"
                formControlName="todateEdit"
                magic="todateEdit"
                class="todateEdit"
              >
              <mat-datepicker-toggle matSuffix [for]="todateEdit"></mat-datepicker-toggle>
              <mat-datepicker disabled="false" #todateEdit></mat-datepicker>
            </mat-form-field>


            <w-mat-timepicker
              formControlName="totimeEdit"
              magic="totimeEdit"
            >
            </w-mat-timepicker>

          </div>
        </div>


      </div>
      <div class="hotel-map-wrapper">
        <div class="map-image"></div>
      </div>
    </div>
    <div class="imgSubForm-section">
      <!--<mga-LargeImage></mga-LargeImage>-->
      <ndc-dynamic
        magic="imgSubform"
        class="imgSubform"
        [ndcDynamicComponent]="mgGetComp('imgSubform')"
        [ndcDynamicInputs]="mgGetParameters('imgSubform')"
      >
      </ndc-dynamic>
    </div>
    <div class="details-button-section">
      <button
        magic="BSave"
        class="BSave"
        [attr.disabled]="mgIsDisabled('BSave')"
        mat-button color="primary"
      >
        Save
      </button>

    </div>
  </div>


</form>

