<form
  novalidate
  [formGroup]="screenFormGroup"
>
  <div
    class="magic-container"
    magic="Car"
    class="Car"
  >
    <div *ngIf="mgIsImageExists('AddFlightImg')">
      <img
        magic="AddFlightImg"
        class="AddFlightImg"
        [src]="mgGetImage('AddFlightImg')"
      />
    </div>
    <label
      magic="SelectFlightL"
      class="SelectFlightL"
    >
      Car Details
    </label>
    <input
      type="text"
      formControlName="serviceAddress"
      magic="serviceAddress"
      class="serviceAddress"
    />
    <label
      magic="To"
      class="To"
    >
      To:
    </label>
    <label
      magic="From"
      class="From"
    >
      From:
    </label>
    <input
      type="text"
      formControlName="carFromplace"
      magic="carFromplace"
      class="carFromplace"
    />
    <input
      type="text"
      formControlName="carToplace"
      magic="carToplace"
      class="carToplace"
    />
    <input
      type="text"
      formControlName="carServiceType"
      magic="carServiceType"
      class="carServiceType"
    />
    <select
      (change)="mgOnSelectionChanged($event,'fromairport')"
      value="getSelectedValue('fromairport')"
      magic="fromairport"
      class="fromairport"
    >
      <option
        *ngFor="let o of mgGetListboxValues('fromairport');"
        [selected]="o.index == mgGetSelectedValue('fromairport')"
        value="o.index"
      >
        {{o.realString}}
      </option>
    </select>
    <div
      magic="Grp1"
      class="Grp1"
    >
      <label
        magic="PickupL"
        class="PickupL"
      >
        Pickup:
      </label>
      <input
        type="text"
        formControlName="fromdateEdit"
        magic="fromdateEdit"
        class="fromdateEdit"
      />
      <input
        type="text"
        formControlName="fromdateTimeEdit"
        magic="fromdateTimeEdit"
        class="fromdateTimeEdit"
      />
    </div>
    <div
      magic="Grp2"
      class="Grp2"
    >
      <label
        magic="ReturnL"
        class="ReturnL"
      >
        Return:
      </label>
      <input
        type="text"
        formControlName="todateEdit"
        magic="todateEdit"
        class="todateEdit"
      />
      <input
        type="text"
        formControlName="todateTimeTo"
        magic="todateTimeTo"
        class="todateTimeTo"
      />
    </div>
    <div
      magic="Grp3"
      class="Grp3"
    >
      <div *ngIf="mgIsImageExists('imgPicture6')">
        <img
          magic="imgPicture6"
          class="imgPicture6"
          [src]="mgGetImage('imgPicture6')"
        />
      </div>
    </div>
    <div
      magic="Grp4"
      class="Grp4"
    >
      <div *ngIf="mgIsImageExists('imgPicture7')">
        <img
          magic="imgPicture7"
          class="imgPicture7"
          [src]="mgGetImage('imgPicture7')"
        />
      </div>
    </div>
    <input
      type="button"
      magic="BSave"
      class="BSave"
      [attr.disabled]="mgIsDisabled('BSave')"
      value=Ok
    />
  </div>
</form>
