/*this is a component css*/

.YourTravelRequestsProps {}

.mytableProps {
    height: 330px;
    border: lightskyblue solid 1px;
}

.mytable_table_rowProps {}

.mytable_table_rowProps:hover {
    background-color: #EEEEEE;
}

.selected {
    background: #F5F5F5;
}

.Column1048579Props {}

.backgroundImageProps {}


label.DescriptionTextProps {
  color: white;
  position: absolute;
  /* border: 1px solid greenyellow; */
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
}


.DepartureDateProps {}

.ArrivalDateProps {}

.takeoffProps {}

.landProps {}

.EllipseProps {}

.FlightImgProps {}

.HotelImgProps {}

.CarImgProps {}

.RestoImgProps {}

.BEditProps {}

.BDeleteProps {}

.AddPlusImgProps {}

.flight-detailsLand{
  display: flex;
  align-items: center;

}

.cards-wrapper form {}

.cards-wrapper {
  /* border: 7px solid yellowgreen; */

  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;
  /*padding: 4% 10% 3% 10%;*/
  justify-content: left;
  height: 80%;
}

.cards-wrapper > div, .cards-wrapper > mat-card {
  width: 310px;
  /*!*!* border: 5px solid red; *!*!*/
  height: 328px;
  display: inline-flex;
  margin: 1%;
}

mat-card.mat-card, mat-card.add-card {
  padding: 0;
  width: 310px;
  height: 328px;
  overflow: hidden;
  /* margin-right: 50px; */
  min-width: 310px;
}


mat-card.add-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
