<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        magic="YourTravel"
        class="YourTravelProps"
        [ngStyle]="{'background-image': mgGetStyle('YourTravel', 'background-image')}"
    >
        <input
            type="text"
            formControlName="ParkOnManage"
            magic="ParkOnManage"
            class="ParkOnManageProps"
        />
        <label
            magic="TravelForLabel"
            class="TravelForLabelProps mgFont20 mgColor30"
        >
            Travel for...
            </label>
            <div
                magic="menugroup"
                class="menugroupProps mgColor46"
            >
                <div *ngIf="mgIsImageExists('MainHome')">
                    <img
                        magic="MainHome"
                        class="MainHomeProps mgColor14"
                        [src]="mgGetImage('MainHome')"
                    />
                </div>
                <a
                    href="#"
                    magic="BPackages"
                    class="BPackagesProps mgFont19 mgColor30"
                >
                    {{mgGetValue('BPackages')}}
                    </a>
                    <a
                        href="#"
                        magic="BAirports"
                        class="BAirportsProps mgFont19 mgColor30"
                    >
                        {{mgGetValue('BAirports')}}
                        </a>
                        <a
                            href="#"
                            magic="BHotels"
                            class="BHotelsProps mgFont19 mgColor30"
                        >
                            {{mgGetValue('BHotels')}}
                            </a>
                            <a
                                href="#"
                                magic="BCarRentals"
                                class="BCarRentalsProps mgFont19 mgColor30"
                            >
                                {{mgGetValue('BCarRentals')}}
                                </a>
                                <a
                                    href="#"
                                    magic="BRestaurants"
                                    class="BRestaurantsProps mgFont19 mgColor30"
                                >
                                    {{mgGetValue('BRestaurants')}}
                                    </a>
                                    </div>
                                    <ndc-dynamic
                                        magic="MainCanvas"
                                        class="MainCanvasProps"
                                        [ndcDynamicComponent]="mgGetComp('MainCanvas')"
                                        [ndcDynamicInputs]="mgGetParameters('MainCanvas')"
                                    >
                                        </ndc-dynamic>
                                        </div>
                                        </form>