<form
  novalidate
  [formGroup]="screenFormGroup"
>
  <div
    magic="YourTravel"
    class="YourTravel"
    [ngStyle]="{'background-image': 'url(' + mgGetStyle('YourTravel', 'background') + ')'}"
  >

    <div class="main-menu">
      <div
        magic="menugroup"
        class="menugroup"
      >
        <div *ngIf="mgIsImageExists('MainHome')">
          <img
            magic="MainHome"
            class="MainHome"
            [src]="mgGetImage('MainHome')"
          />
        </div>
        <a
          href="#"
          magic="BPackages"
          class="BPackages"
        >
          {{mgGetValue('BPackages')}}
        </a>
        <a
          href="#"
          magic="BAirports"
          class="BAirports"
        >
          {{mgGetValue('BAirports')}}
        </a>
        <a
          href="#"
          magic="BHotels"
          class="BHotels"
        >
          {{mgGetValue('BHotels')}}
        </a>
        <a
          href="#"
          magic="BCarRentals"
          class="BCarRentals"
        >
          {{mgGetValue('BCarRentals')}}
        </a>
        <a
          href="#"
          magic="BRestaurants"
          class="BRestaurants"
        >
          {{mgGetValue('BRestaurants')}}
        </a>
      </div>

    </div>

    <div class="main-content">
      <div>
        <div class="main-label">
          <label
            magic="TravelForLabel"
            class="TravelForLabel"
          >
            {{mgGetText('TravelForLabel')}}
          </label>
        </div>


        <ndc-dynamic
          magic="MainCanvas"
          class="MainCanvas"
          [ndcDynamicComponent]="mgGetComp('MainCanvas')"
          [ndcDynamicInputs]="mgGetParameters('MainCanvas')"
        >
        </ndc-dynamic>
      </div>
    </div>
  </div>
</form>
