<div class="main-card edit-card EditTravelRequestEntries" magic="EditTravelRequestEntries">
  <form novalidate [formGroup]="screenFormGroup">
    <div class="main-card-photo-header BckPckImg"
         magic="BckPckImg"
         *ngIf="mgIsImageExists('BckPckImg')"
         [ngStyle]="{'background-image': 'url(' + mgGetImage('BckPckImg') + ')'}"
         >
      <!--<img-->
      <!--magic="BckPckImg"-->
      <!--[title]="mgGetTitle('BckPckImg')"-->
      <!--class="main-card-photo-header BckPckImg hidden_border"-->
      <!--[src]="mgGetImage('BckPckImg')"-->
      <!--/>-->

      <div class="picture-title-line">
        <label
          magic="DescriptionScreen"
          class="DescriptionScreen"
        >
          {{mgGetValue('DescriptionScreen')}}
        </label>
      </div>

      <div class="flight-dates">
        <label
          magic="DepartureDateScreen"
          class="DepartureDateScreen"
        >
          {{mgGetValue('DepartureDateScreen')}}
        </label> -
        <label
          magic="ArrivalDateScreen"
          class="ArrivalDateScreen"
        >
          {{mgGetValue('ArrivalDateScreen')}}
        </label>
      </div>
    </div>

    <div class="btn-line">
      <div *ngIf="mgIsImageExists('AddFlightImg')">
        <img
          magic="AddFlightImg"
          class="mgColor14 AddFlightImg hidden_border"
          [src]="mgGetImage('AddFlightImg')"
        />
      </div>
      <div *ngIf="mgIsImageExists('AddHotelImg')">
        <img
          magic="AddHotelImg"
          class="mgColor14 AddHotelImg hidden_border"
          [src]="mgGetImage('AddHotelImg')"
        />
      </div>
      <div *ngIf="mgIsImageExists('AddCarImg')">
        <img
          magic="AddCarImg"
          class="mgColor14 AddCarImg hidden_border"
          [src]="mgGetImage('AddCarImg')"
        />
      </div>
      <div *ngIf="mgIsImageExists('AddRestoImg')">
        <img
          magic="AddRestoImg"
          class="mgColor14 AddRestoImg hidden_border"
          [src]="mgGetImage('AddRestoImg')"
        />
      </div>
    </div>
  </form>

  <div class="bottom-pane">
    <!--//start-->
    <div class="list-pane"
      magic="Group1048585"
    >
      <!--//table-->
      <!--<div-->
        <!--class="TableEditRequestEntries"-->
        <!--magic="TableEditRequestEntries"-->
        <!--class="TableEditRequestEntriesProps"-->
        <!--infinite-scroll-->
        <!--[infiniteScrollDistance]="2"-->
        <!--[infiniteScrollThrottle]="500"-->
        <!--(scrolled)="onScrollDown()"-->
        <!--[scrollWindow]="false"-->
      <!--&gt;-->
        <div *ngFor="let row of task.Records.list"
             class="list-item"
        >
          <div
            *ngIf="mgIfRowCreated(row.rowId)"
            id="row"
          >
            <!--//start-->
            <form
              [formGroup]="mgGetFormGroupByRow(row.rowId)"
              class="TableEditRequestEntries_table_rowProps"
              [ngClass]="{ 'selected': isRowSelected('TableEditRequestEntries', row.rowId)}"
            >
              <!--//column 1-->
              <!--<div-->
                <!--magic="Column1048588"-->
                <!--class="Column1048588Props"-->
              <!--&gt;-->
                <div *ngIf="mgIsImageExists('flight')" class="flight-icon">
                  <img
                    magic="flight"
                    [rowId]="row.rowId"
                    class="flight hidden_border"
                    [src]="mgGetImage('flight', row.rowId)"
                  />
                </div>
                <div class="list-labels-wrapper">
                <label
                  magic="RDescription"
                  class="RDescription"
                  [rowId]="row.rowId"
                >
                  {{mgGetValue('RDescription', row.rowId)}}
                </label>

                <label
                  magic="bottomlabel"
                  [rowId]="row.rowId"
                  class="bottomlabel"
                >
                  {{mgGetValue('bottomlabel', row.rowId)}}
                </label>
                </div>

                <div *ngIf="mgIsImageExists('flightLogo')" class="airline-list-logo">
                  <img
                    magic="flightLogo"
                    [rowId]="row.rowId"
                    [title]="mgGetTitle('flightLogo', row.rowId)"
                    class="flightLogo hidden_border"
                    [src]="mgGetImage('flightLogo', row.rowId)"
                  />
                </div>

              <!--</div>-->
              <!--//end column111-->

              <!--//column 2-->
              <!--<div-->
                <!--magic="Column1048589"-->
                <!--class="Column1048589Props"-->
              <!--&gt;-->

                <!--<a-->
                  <!--href="#"-->
                  <!--magic="BEdit"-->
                  <!--[rowId]="row.rowId"-->
                  <!--[attr.disabled]="mgIsDisabled('BEdit', row.rowId)"-->
                  <!--class="BEdit"-->
                <!--&gt;-->
                  <!--{{mgGetValue('BEdit', row.rowId)}}-->
                <!--</a>-->
                <!--<a-->
                  <!--href="#"-->
                  <!--magic="BDelete"-->
                  <!--[rowId]="row.rowId"-->
                  <!--class="BDelete"-->
                <!--&gt;-->
                  <!--{{mgGetValue('BDelete', row.rowId)}}-->
                <!--</a>-->
              <!--</div>-->
              <!--column222-->
            </form>
            <!--//end-->
          </div>
        </div>
      <!--</div>-->
      <!--//table end-->
      <div
        magic="Group1048586"
        class="Group1048586Props"
      >
      </div>

    </div>
    <!--//end-->
    <div class="info-pane">
      <ndc-dynamic
        magic="SubformDetails"
        class="SubformDetails"
        [ndcDynamicComponent]="mgGetComp('SubformDetails')"
        [ndcDynamicInputs]="mgGetParameters('SubformDetails')"
      >
      </ndc-dynamic>
    </div>
  </div>
</div>

