body
{
  margin: 0;
  background: #465786;
  /* border: 3px solid yellow; */
  font-family: 'Roboto', sans-serif;
  height: 100%;
  color: #070808;
}

.backgroundImage {height: 184px;background-repeat: no-repeat;width: 316px;background-size: cover;/* border: 2px solid yellow; */}

* {
    box-sizing: border-box;
}

label.DepartureDate, label.ArrivalDate {
  color: #8d8d8d;
  padding-right: 20px;
  padding-left: 20px;
}

.YourTravel {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid red; */
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 900px;
}

html {
  height: 100%;
  /* border: 4px solid yellow; */
}

.YourTravel {}

.list-item-form {
    height: 70px;
    /* border: 4px solid #3abdf9; */
    display: flex;
    width: 100%;
    align-items: center;
    border-top: 0.5px solid #e6e6e6;
    padding: 10px 0 10px 10px;
    border-bottom: 0.5px solid #e6e6e6;
}

.list-item-form-selected {

height: 70px;

/* border: 4px solid #3abdf9; */

display: flex;

width: 100%;

align-items: center;

border-top: 0.5px solid #e6e6e6;

padding: 10px 0 10px 10px;

border-bottom: 0.5px solid #e6e6e6;

/* box-shadow: 0px 2px 5.22px 0.78px rgba(60, 60, 60, 0.2); */
}


/*.tmpID33 {*/
    /*flex-direction: column;*/
/*}*/

/*.tmpID34 {}*/

.top-details-title {
    /* border: 3px solid red; */
    align-items: center;
    height: 60px;
    width: 100%;
    /*margin-bottom: 30px;*/
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}
mga-hotel {
    width: 100%;
    /* border: 1px solid saddlebrown; */
    /* padding: 10px 40px 30px 40px; */
    display: flex;
    flex-direction: column;
}

img.AddHotelImg {
    position: relative;
    top: 5px;
    margin-right: 10px;
}

label.SelectFlightL {
    font-weight: 400;
    font-size: 18px;
    /* border: 1px solid red; */
}

.middle-details-section {
    font-size: 16px;
    font-weight: 500;
    flex-direction: column;
    display: flex;
}

.details-address-title {
    margin-bottom: 30px;
}

.data-with-label {
    flex-direction: column;
    margin-bottom: 10px;
    color: #8f8f8f;
    font-weight: 400;
    /* border: 1px solid red; */
    display: flex;
}

.Rest .data-with-label {
    min-width: 462px;
}

.checkin-details {
    flex-direction: column;
    /* display: flex; */
}

mga-edittravelrequestentries .checkin-details {
    margin-right: 20px;
}

.data-with-label > label {
    margin-bottom: 10px;
    font-size: 13px;
}

.date-time-row {
    display: flex;
    justify-content: space-evenly;
}

button.mat-mini-fab.mat-accent.mat-button.mat-raised.w-clock-deg180.mat-mini-fab:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

w-clock .mat-mini-fab:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

.w-clock[_ngcontent-c10] {
    /* background: #3f51b5 !important; */
    color: black;
}

w-clock span.mat-button-wrapper {
    color: black;
}

w-clock .mat-toolbar.mat-primary {}

.w-timepicker mat-toolbar.w-timepicker-time-container.mat-toolbar.mat-primary.mat-toolbar-single-row {
    background: #3f51b5;
}

w-clock button.mat-mini-fab.mat-accent.mat-button.mat-raised.w-clock-deg150.mat-primary {
}

w-clock .mat-primary span.mat-button-wrapper {
    color: white;
}

.checkin-row {
    display: flex;
    flex: 2;
    /* border: 1px solid blue; */
}

mga-edittravelrequestentries .checkin-row {
    margin-bottom: 20px;
}

.hotel-map-wrapper {
    /* border: 1px solid red; */
    flex: 1;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 30px;
    min-width: 240px;
}

mga-edittravelrequestentries .hotel-map-wrapper {
    padding-right: 0;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
}

.map-image {
    background-image: url("images/map.JPG");
    background-size: cover;
    border: 0.5px solid #c1c1c1;
    height: 100%;
    border-radius: 1px;
    box-shadow: 1px 1px 2px #c9c9c9;
}

.hotel-title {
    display: flex;
    align-items: center;
}

.host {}

.imgSubForm-section {
    /* border: 1px solid red; */
    flex: 1;
}

.LargeImage {
    display: flex;
}

.LargeImage img {
    padding: 0px;
    width: 112px;
    margin-right: 20px;
    margin-top:40px;
}

.details-button-section {
    display: flex;
    justify-content: flex-end;
    height: 51px;
    align-items: baseline;
    /* border: 1px solid red; */
}

mga-edittravelrequestentries {
    display: flex;
    justify-content: center;
}

w-mat-timepicker {
    margin-left: 30px;
    min-width: 230px;
}

.no-title w-mat-timepicker {
    margin: 0;
}

img.AddFlightImg {
  position: relative;
  top: 3px;
  margin-right: 14px;
}

img.AddHotelImg {
  position: relative;
  top: 3px;
  margin-right: 14px;
}

.map-image.airport-image {
    background-image: url('images/airport2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 79px;
}

.data-with-label.no-title {
    justify-content: flex-end;
    padding-bottom: 7px;
}

.map-image.rest-image {
    height: 170px;
    border: 2px solid red;
}

.side-by-side {
    display: flex;
}

input#mat-input-0 {}

.Rest .serviceAddress {
    width: calc(100% - 49px);
}

form.Rest {
    margin-left: 50px;
}

form.Flight1 {
    flex: 1;
}

mga-flight1 {
    display: flex;
    flex: 1;
}

.image1, image2, image3, image4
{
  /*width: 80px;*/
  height: 80px;

}
